@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 23 23 23;
  }

  .dark {
    --background: 10 10 10;
    --foreground: 237 237 237;
  }
}

body {
  @apply bg-background text-foreground transition-colors duration-500 ease-in-out;
}

/* --- LA MAGIA DEL FONDO --- */
.neon-gradient {
  /* MODO CLARO: Efecto "Silver Mirror" */
  background: 
    radial-gradient(circle at 50% 0%, rgba(0, 0, 0, 0.03) 0%, transparent 70%), /* Sombra central sutil */
    linear-gradient(180deg, #f3f4f6 0%, #ffffff 100%); /* Gris plata a blanco */
}

.dark .neon-gradient {
  /* MODO OSCURO: Cyberpunk Violeta (Tu estilo anterior) */
  background: 
    radial-gradient(circle at 50% -20%, rgba(139, 92, 246, 0.4) 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, rgba(76, 29, 149, 0.2) 0%, transparent 40%),
    #0a0a0a; /* Fondo base negro */
}